@import 'node_modules/normalize.scss/normalize';
@import 'components/mixins';

/*
 * Monokai colors ==========
 */
$color-bg: #34352E;
$color-bg-light: #7A7A6A;
$color-red: #D14572;
$color-yellow: #DEDF9B;
$color-green: #A8D63A;
$color-blue: #72D1D1;
/*
 * =========================
 */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
	background-color: $color-blue;
	font-family: 'Cutive Mono', monospace;
	overflow: hidden;
}

#footer {
	height: 30px;
	width: 100%;
	background-color: $color-bg-light;
	-webkit-app-region: drag;
}

.wrapper {
	position: relative;
	width: 100%;
	padding: 0px;

	input[type="text"],
	textarea {
		padding: 10px 15px;
		font-size: 18px;
		border: none;
		display: block;
		margin: 0;
		float: left;
		height: 80px;
		color: $color-blue;
		z-index: 0;
		line-height: 19px;
		resize: none;

		&::selection {
			color: #fff;
			background: $color-red;
		}

		&:focus {
			outline: none;
		}
	}
}

#px {
	width: 65%;
	background-color: $color-bg;
}

#unit {
	width: 35%;
	text-align: center;
	color: $color-yellow;
	background-color: lighten($color-bg, 5%);
	padding-left: 20px;
}

#rem {
	color: #fff;
	width: 100%;
	background-color: $color-bg-light;
	border-bottom: solid 10px $color-blue;
	transition: all 60ms ease-out;
	

	&::selection {
		color: fff;
	}
}

body.copyed #rem {
	background-color: darken($color-bg-light, 10%);
}

.corner {
	position: relative;
	display: block;
	float: left;
	width: 0;
	height: 80px;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		border: solid 40px transparent;
		border-left-color: $color-bg;
		border-top-color: $color-bg;
		border-left-width: 10px;
		border-right-width: 10px;
		z-index: 2;
	}
}
